body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 20px;
    }

    h1 {
      text-align: center;
      color: #ff6600;
    }

    .dashboard-container {
      max-width: 1000px;
      margin: auto;
      background: white;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
    }

    th, td {
      padding: 12px;
      text-align: left;
      /* border-bottom: 1px solid #ddd; */
    }

    th {
      background-color: #ede7f6;
      color:#f25b3c;
    }

    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 5px;
    }

    .action-buttons {
      display: flex;
      gap: 10px;
    }

    .btn {
      padding: 6px 12px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      color: white;
    }

    .edit-btn {
      background-color:#ff6600;
    }

    .delete-btn {
      background-color: #d32f2f;
    }

    .edit-btn:hover {
      background-color: #ff6600;
    }

    .delete-btn:hover {
      background-color: #b71c1c;
    }

    .buttons{
        display: flex;
        justify-content: space-between;
    }

.add-product-container {
  text-align: right;
  margin: 20px;
}

.add-product-btn {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 50px
 
}

.add-product-btn:hover {
  background-color: #d94e30; /* Slightly darker for hover effect */
}

.back-btn {
  background-color: #ff6600;
  color: white;
  padding: 8px 15px;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  
}

.back-btn:hover {
  background-color:  #e05500;
}